.dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    width: 30%;
    border-left: 0.1rem solid black;
  }

  &__form {
    margin-left: 2rem;
    border: black 0.1rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
