$color-primary: var(--color-primary);
$color-secondary: var(--colosr-secondary);
$color-tertiary: var(--color-tertiary);
$color-grey: var(--color-grey);
$color-lightgrey: var(--color-lightgrey);
$color-success: var(--color-success);
$color-white: var(--color-white);
$color-danger: var(--color-danger);

$box-shadow: 0px 3px 5px grey;
$backdrop: var(--backdrop);
