@import "styles/colors.scss";

.input-field {
  &__label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__input {
    display: flex;
    border: solid 0.1rem black;
    padding: 0.7rem 3.2rem 0.7rem 1.2rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

    input,
    textarea {
      resize: none;
      border: none;
      outline: none;
      background-color: inherit;

      &::placeholder {
        font-family: "Poppins", sans-serif;
        color: $color-primary;
      }
    }
  }

  &__error {
    display: block;
    color: red;
    height: 2.4rem;
  }
}

// .submitted {
//   .input-field__error {
//     visibility: unset;
//   }
// }
