.input-field {
  &__label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__input {
    display: flex;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;

    input {
      margin-left: 0.5rem;
      border: none;
      outline: none;
      background-color: inherit;
    }
  }

  &__error {
    display: block;
    color: red;
    height: 2.4rem;
  }
}

// .submitted {
//   .input-field__error {
//     visibility: unset;
//   }
// }
