@import "styles/colors.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  box-shadow: $box-shadow;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s transform;

  &:hover {
    transform: translateY(-0.3rem);

    .card__icon {
      display: block;
    }
  }

  &__icon {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $color-tertiary;
  }
}
